!
!
!   ▒█████   ███▄ ▄███▓ ███▄    █  ██▓ ██░ ██  ██▓ ██▓      ██████
!  ▒██▒  ██▒▓██▒▀█▀ ██▒ ██ ▀█   █ ▓██▒▓██░ ██▒▓██▒▓██▒    ▒██    ▒
!  ▒██░  ██▒▓██    ▓██░▓██  ▀█ ██▒▒██▒▒██▀▀██░▒██▒▒██░    ░ ▓██▄
!  ▒██   ██░▒██    ▒██ ▓██▒  ▐▌██▒░██░░▓█ ░██ ░██░▒██░      ▒   ██▒
!  ░ ████▓▒░▒██▒   ░██▒▒██░   ▓██░░██░░▓█▒░██▓░██░░██████▒▒██████▒▒
!  ░ ▒░▒░▒░ ░ ▒░   ░  ░░ ▒░   ▒ ▒ ░▓   ▒ ░░▒░▒░▓  ░ ▒░▓  ░▒ ▒▓▒ ▒ ░
!    ░ ▒ ▒░ ░  ░      ░░ ░░   ░ ▒░ ▒ ░ ▒ ░▒░ ░ ▒ ░░ ░ ▒  ░░ ░▒  ░ ░
!  ░ ░ ░ ▒  ░      ░      ░   ░ ░  ▒ ░ ░  ░░ ░ ▒ ░  ░ ░   ░  ░  ░
!      ░ ░         ░            ░  ░   ░  ░  ░ ░      ░  ░      ░
!       ▒██   ██▒ ██▀███  ▓█████   ██████  ▒█████   █    ██  ██▀███   ▄████▄  ▓█████   ██████
!       ▒▒ █ █ ▒░▓██ ▒ ██▒▓█   ▀ ▒██    ▒ ▒██▒  ██▒ ██  ▓██▒▓██ ▒ ██▒▒██▀ ▀█  ▓█   ▀ ▒██    ▒
!       ░░  █   ░▓██ ░▄█ ▒▒███   ░ ▓██▄   ▒██░  ██▒▓██  ▒██░▓██ ░▄█ ▒▒▓█    ▄ ▒███   ░ ▓██▄
!        ░ █ █ ▒ ▒██▀▀█▄  ▒▓█  ▄   ▒   ██▒▒██   ██░▓▓█  ░██░▒██▀▀█▄  ▒▓▓▄ ▄██▒▒▓█  ▄   ▒   ██▒
!   ██▓ ▒██▒ ▒██▒░██▓ ▒██▒░▒████▒▒██████▒▒░ ████▓▒░▒▒█████▓ ░██▓ ▒██▒▒ ▓███▀ ░░▒████▒▒██████▒▒
!   ▒▓▒ ▒▒ ░ ░▓ ░░ ▒▓ ░▒▓░░░ ▒░ ░▒ ▒▓▒ ▒ ░░ ▒░▒░▒░ ░▒▓▒ ▒ ▒ ░ ▒▓ ░▒▓░░ ░▒ ▒  ░░░ ▒░ ░▒ ▒▓▒ ▒ ░
!   ░▒  ░░   ░▒ ░  ░▒ ░ ▒░ ░ ░  ░░ ░▒  ░ ░  ░ ▒ ▒░ ░░▒░ ░ ░   ░▒ ░ ▒░  ░  ▒    ░ ░  ░░ ░▒  ░ ░
!   ░    ░    ░    ░░   ░    ░   ░  ░  ░  ░ ░ ░ ▒   ░░░ ░ ░   ░░   ░ ░           ░   ░  ░  ░
!    ░   ░    ░     ░        ░  ░      ░      ░ ░     ░        ░     ░ ░         ░  ░      ░
!    ░                                                               ░


! special
*.foreground:   #dedede
!*.background:   #2b2b2b
*.background:   #050500
*.cursorColor:  #dedede

! black
*.color0:       #2e3436
*.color8:       #555753

! red
*.color1:       #cc0000
*.color9:       #ef2929

! green
*.color2:       #4e9a06
*.color10:      #8ae234

! yellow
*.color3:       #c4a000
*.color11:      #fce94f

! blue
*.color4:       #3465a4
*.color12:      #729fcf

! magenta
*.color5:       #75507b
*.color13:      #ad7fa8

! cyan
*.color6:       #06989a
*.color14:      #34e2e2

! white
*.color7:       #d3d7cf
*.color15:      #eeeeec

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false
!URxvt.font: -*-ibm 3270-*-*-normal-*-17-*-*-*-*-*-iso8859-*
!URxvt.font: xft:terminus::size=10
!URxvt.font: -*-terminus-medium-*-*-*-*-*-*-*-*-80-iso10646-*
!URxvt.font: xft:ProggyCleanTTSZ Nerd Font:size=12
URxvt.font: xft:TamzenforPowerline:size=12

! URxvt.font: xft:TerminessTTF NERD Font Mono:size=12
URxvt.boldFont:
URxvt.letterSpace: 0

! change font on the fly
!URxvt.keysym.C-1: command:\033]710;xft:ProggyCleanTT Nerd Font:size=12:antialias=true\007
!URxvt.keysym.C-0: command:\033]710;xft:Terminess Powerline:size=12:antialias=true\007
!URxvt.keysym.C-2: command:\033]710;xft:Knack Nerd Font:size=10:antialias=true\007

*antialias:  true
*autohint:   true

URxvt.perl-ext-common: tabbed,font-size

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

!font-size keybinds from https://github.com/majutsushi/urxvt-font-size

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! font-changing during runtime, man urxvt 7
URxvt.keysym.M-C-0: command:\033]710;xft:xos4 terminus:size=14:antialias=true\007
URxvt.keysym.M-C-1: command:\033]710;xft:TamzenForPowerline:size=12:antialias=true\007
URxvt.keysym.M-C-2: command:\033]710;xft:ProFont for Powerline:size=13:antialias=true\007
URxvt.keysym.M-C-3: command:\033]710;xft:IBM 3270:size=12:antialias=true\007
URxvt.keysym.M-C-4: command:\033]710;xft:ProggyCleanTTCE Nerd Font:size=12:antialias=true\007
URxvt.keysym.M-C-5: command:\033]710;xft:Knack Nerd Font:size=12:antialias=true\007
URxvt.keysym.M-C-6: command:\033]710;xft:GohuFontMedium Nerd Font Mono:size=12:antialias=true\007
URxvt.keysym.M-C-7: command:\033]710;xft:Iosevka Nerd Font:size=12:antialias=true\007
URxvt.keysym.M-C-8: command:\033]710;xft:TerminessTTF Nerd Font Mono:size=12:antialias=true\007

! dynamic colors / color scheme change
urxvt*dynamicColors: on

! rofi fonts
rofi.font: TamzenforPowerline 12
